<div class="container slow-show">
    <h1 class="title">For My Love,</h1>
    <div class="row lh-lg">
        <p class="message-text">
            Hey baby girl! I know this is a bit unorthodox, but I hate my handwriting and feel like you would absolutely
            <span class="extra-bold">struggle</span> with reading a written letter of some kind.
            So, I decided to do it this way instead. I hope you don't mind.
        </p>
        <p class="message-text">
            I also don't own a printer.
        </p>
        <p class="message-text">
            There's a lot of things that I wish I could say to myself at this time last year. I made a very terrible,
            very no-good-at-all mistake that almost ruined my chance of ever seeing this relationship move forward. And,
            because of that, I have spent lots of time thinking about how I can do better. Or, better yet, realizing
            that I <span class="italics">have</span> to do better.
        </p>
        <p class="message-text">
            I like to think that, in some ways, I have improved--but I understand that progress is not linear. I often
            beat myself up for not being the best version of myself. I tend to have some pretty gnarly habits, such as:
            Forgetting important dates. Being sub-par at gift giving. Trying to fix every problem thrown at me, among
            others.
        </p>
        <p class="message-text">
            However, I think that my highest crime has been not telling you how immesnly grateful I am for you, and how
            <span class="italics">unbelivably</span> proud I am of you. You understate what all you have been through in
            the span of the last
            couple of semesters to now. A death in your family, the moving away of your dearest friend, struggles with a
            new roomate, adjusting to a new learning environment, getting into a car wreck--and biggest of all, a
            boyfriend who sometimes acts like a silly little man with only some concept of what it means to meaningfully
            operate in a relationship.
        </p>
        <p class="message-text">
            The biggest gift you have ever given me, and will ever give me, is the chance to do over. You are kind,
            loving, emotoinally intelligent, and immensely caring at your core. Even when I hurt you, you 
            <span class="italics">still</span> continue to take chances on me and love me at the position I am at in my life. And, because of this, I only
            hope that I can continue to give it back to you. When I say you are the love of my life, I don't just throw
            it out there as if it's being said for fun. I mean it, wholeheartedly. I am not totally sure what I did with
            myself before you. I'm not sure if I have ever told you that before, but it's true. Most of the things that
            I do unconciously would simply just go unnoticed. That's also beside the fact that you are my best friend. I
            truly do feel like I have the privllege of being able to do life with you.
        </p>
        <p class="message-text">
            I also <span class="extra-bold">want to love you better</span>. For me, that means telling you in more detail how I feel about you, how
            I feel about us. It also means, for a lack of a better word, treating you well! It is hard for me to put
            into words how much I have broken my own heart over my own actions, and some of this year has been spent
            understanding how to avoid mistakes that break both of our hearts. It means having tough conversations,
            being unafraid of saying how I feel--and not avoiding conflict at the expense of a great conversation. This,
            is particular, is a very bad habit that I don't think I have ever confronted in my life before you. I am so
            thankful that you are continuing to love me, even as I try to sort through my anxiety.
        </p>
        <p class="message-text">
            Before I dismiss you, I want you to always remember two things:
        </p>
        <ul class="list-group two-things">
            <span class="extra-large-font">I am madly in love with you.</span>
            <li class="list-group-item message-text">I think about you daily. And,
                because of this, I want to know
                everything and anything about you. I will <span class="italics">never</span> judge you for anything that you share, or anything
                that you desire to talk about with me. There are no limits. Tell me the deepest thoughts and desires of
                your heart!</li>
            <span class="extra-large-font">I am always proud of you.</span>
            <li class="list-group-item message-text">You sometimes like to struggle in
                silence, speaking up about the things
                that hurt you when it gets to the point where it really hurts. And that's okay, because I do the same
                thing. If there's something on your heart, if you're hurting, I want to hear about it. Not because I
                desire to fix it (even though I always will, because I want it to go away)--but because I want you to
                feel safe with me.</li>
        </ul>
        <p class="message-text">
            Beyond all of this, I have such an immense, <span class="extra-bold">immense</span> joy and excitement for what is to come in the next
            year. I want to do more things with you. I want to go more places with you. I want to learn new things with
            you. And I think about doing such things every day with much anticipation.
        </p>
        <p class="message-text">
            Don't feel like you have to give me a measured response to this letter. This is mainly for you to have. I
            wanted you to hear what I had on my mind and also to have something that you can go back and read when you
            need a reminder of how I feel about you.
        </p>
        <p class="message-text">
            As always, you make me a very happy man.
        </p>
        <div class="row lh-lg">
            <h3 class="happy-birthday">Happy 23rd Birthday Pookie!</h3>
        </div>
    </div>
</div>